/* RESET */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* REGOLE GENERALI */
body{
    background-color: black;
    color: white;
    font-size: 0.7em;
}

.container-flex{
    display: flex;
}


/* CONTROLLI SPEAKER E VIEW */
.speaker-view{
    padding: 5px 25px;
    justify-content: flex-end;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 5;
}

.speaker-view > div{
    background-color: gray;
    border-radius: 5px;
    padding: 3px;
    margin-left: 5px;
}

.speaker-view > div:hover{
    cursor: pointer;
}


/* SEZIONE PRINCIPALE */
section > div{
    width: 100%;
    height: 100vh;
    padding: 60px;
    overflow: scroll;
}

.flex-wrap{
    flex-wrap: wrap;
}

.users{
    width: calc(100% / 7);
    height: 100px;
    padding: 5px 2px;
}

.users > div{
    background-image: url('https://picsum.photos/200/300');
    height: 100%;
    background-position: center;
    background-size: cover;
    position: relative;
}

.username{
    background-color: rgba(78, 78, 78, 0.7);
    padding: 3px;
    position: absolute;
    bottom: 0;
    left: 0;
}


/* CONSOLE */
footer{
    background-color: #222222;
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    justify-content: space-between;
}

footer > div,nav{
    padding: 10px;
}
footer .container-flex{
    align-items: center;
}

.icons{
    text-align: center;
    margin: 0 10px;
    background-color: transparent;
    border-radius: 8px;
    padding: 2px;
}

footer i:first-child{
    font-size: 2em;
    margin-bottom: 5px;
}

[class="fa-solid fa-angle-up"]{
    padding: 10px;
    background-color: transparent;
    border-radius: 8px;
    padding: 5px;
}

#green{
    color: #4bc800;
}

.end{
    background-color: #4a4a4a;
    color: red;
}

.icons:hover{
    cursor: pointer;
    background-color: #4a4a4a;
    color: coral;
}

[class="fa-solid fa-angle-up"]:hover{
    cursor: pointer;
    background-color: #4a4a4a;
    color: coral;
}

.end:hover{
    cursor: pointer;
}




/* DEBUG */
.debug .users > div{
    background-color: red;
}